body{
	font-size:17px;
	background-color: #fce6cf;
}

/*header*/

header nav,footer{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.shadow{
	box-shadow: 5px 5px 10px #bfbdbb;
}
#navbarToggle{
	border : 2px solid #fce6cf;
	color:transparent;
}
nav div div ul li {
	width: 100%;
	text-align: center;
	padding:3px;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #E7E7E7;
}
/*.collapse .navbar-nav{
	flex-direction:row;
}*/
.navbar-nav .active{
	background-color:  #e6e1e1;
	border-radius: 10px;
}
#nav-list {
  margin-top: 15px;
  margin-bottom: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover , #nav-list a:focus{
  background: #E7E7E7;
  border-radius: 6px;			
}
/*home-snippet*/
#intro{
	min-height: 100vh;
}
/*.visual{
	width: 100%;
	border-radius:25px;
	box-shadow: 5px 5px 10px grey;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}*/
.box{
	background-color: #f5d5a2;
	margin: 5%;
	text-align: justify;
	padding: 5%;
	box-shadow: 2px 2px 4px grey;
	border-radius:25px;
}
.box:hover{
	background-color:#f5c16e ;
}
a{
	text-decoration: none;
	color: #f26da7;
}
.shell{
	padding: 2%;
	margin: 5%;
	text-align: justify;
}

/*footer*/

.panel-footer {
	clear: both;
	margin-top:auto;
  	padding-top: 35px;
  	padding-bottom: 30px;
 	border-top: 0;
}
.xyz {
  text-align: justify;
  height: 400px;
  width: 100%;
  padding: 10%;
  padding-top: 15%;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50px 0 50px; 
  overflow: auto;
  background: linear-gradient(-45deg, #598ede, #7ec3d6, #5ec4b8,#73ba9b);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.xyz::-webkit-scrollbar {
  display: none;
}
.xyz {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.xyz:hover {
  box-shadow: 5px 5px 5px 10px #cccccc;
}
.xyz span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #504c54;
  color: #fff;
  opacity: .5;
}
p{
	overflow-x: auto;
}