body{
	font-size:17px;
	background-color: #fce6cf;
}

/*header*/

header nav,footer{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.shadow{
	box-shadow: 5px 5px 10px #bfbdbb;
}
#navbarToggle{
	border : 2px solid #fce6cf;
	color:transparent;
}
nav div div ul li {
	width: 100%;
	text-align: center;
	padding:3px;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #E7E7E7;
}
/*.collapse .navbar-nav{
	flex-direction:row;
}*/
.navbar-nav .active{
	background-color:  #e6e1e1;
	border-radius: 10px;
}
#nav-list {
  margin-top: 15px;
  margin-bottom: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover , #nav-list a:focus{
  background: #E7E7E7;
  border-radius: 6px;			
}
/*home-snippet*/
#intro{
	min-height: 100vh;
}
.visual{
	width: 100%;
	border-radius:25px;
	box-shadow: 5px 5px 10px grey;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
}
.box{
	background-color:#4a9156;
	height: 100px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}
/*footer*/

.panel-footer {
	clear: both;
	margin-top:auto;
  	padding-top: 35px;
  	padding-bottom: 30px;
 	border-top: 0;
}