body{
	font-size:17px;
}

/*header*/

header nav{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.shadow{
	box-shadow: 5px 5px 10px #bfbdbb;
}
#navbarToggle{
	border : 2px solid #fce6cf;
	color:transparent;
}
nav div div ul li {
	width: 100%;
	text-align: center;
	padding:3px;
}
.navbar-toggler:focus, .navbar-toggler:hover {
    background-color: #E7E7E7;
}
/*.collapse .navbar-nav{
	flex-direction:row;
}*/
.navbar-nav .active{
	background-color:  #e6e1e1;
	border-radius: 10px;
}
#nav-list {
  margin-top: 15px;
  margin-bottom: 10px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover , #nav-list a:focus{
  background: #E7E7E7;
  border-radius: 6px;			
}

/*end of header*/

/*main*/

aside{
	float: left;
	width: 25%;
	background-color: #c4d692;
	height: 100vh;
	padding: 2%;
}
#main-content {
	float: left;
	height: 100vh;
	width: 75%;
	background-color: #fce6cf;
}
.bd-links{
	font-weight:600;
}
@media (min-width: 768px){
	.bd-links {
    	top: 5rem;
    	display: block !important;
    	height: calc(100vh - 7rem);
    	padding-left: .25rem;
   		margin-left: -.25rem;
    	overflow-y: auto;
	}
}
@media (max-width: 420px){
	.bd-links{
		top: 5rem;
    	display: block !important;
    	height: calc(100vh - 7rem);
    	padding-left: 0;
   		margin-left: 0;
    	overflow-y: auto;
    	overflow-x: auto;
	}
}
.bd-links .active {
    font-weight: 600;
    color: rgba(0,0,0,0.85);
}
.bd-links a+ul {
    font-size: .875rem;
}
.bd-links a{
    padding: .1875rem .5rem;
    margin-top: .125rem;
    color: rgba(0,0,0,0.65);
    text-decoration: none;
}
.bd-links a:hover, .bd-links a:focus {
    color: rgba(0,0,0,0.85);
    background-color: rgba(121,82,179,0.1);
}
.bd-links a:not(:only-child):not(.collapsed) {
    color: rgba(0,0,0,0.85);
}
.bd-links a:not(:only-child)::before{
	width: 1.25em;
	line-height: 0;
	content: url("data:image/svg+xml,<svg viewBox='0 0 16 16' class='bi bi-caret-right-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z' clip-rule='evenodd'/></svg>");
  	transition: transform 0.45s ease;
    transform-origin: .5em 50%;
}
.bd-links a:not(:only-child):not(.collapsed)::before {
    transform: rotate(90deg);
}
.bd-links a:only-child{
    margin-left: 1.25rem;
}
/*end of main*/
/*home-snippet*/
.pop{
	background-color: #7fb588;
	padding:20px;
	box-shadow: 10px 10px 10px #a2a8a3;
	border-radius: 30px;
	transition: width 2s;
}
.pop:hover{
	background-color: #4a9156;
}
.animate__animated.animate__slideInDown{
	--animate-delay:3s ;
}
/*footer*/

footer{
	clear: both;
	background-color:#21211f;
}






